h1 {
    color: #1B332C;
}
h2{
    color: rgba(114, 69, 15, 0.99);
}
h4{
    color: rgba(114, 69, 15, 0.87);
}
h5{
    color: rgba(114, 69, 15, 0.99);
}
h6{
    color: #d95d1a;
}
h7{
    font-style: oblique; color: #89431d;
}
body {
    background-image: url(https://images.unsplash.com/photo-1498335746477-0c73d7353a07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)
}
li{
    list-style: none;
}
.surname {
    color: #385446   
}


/****Education****/
#educ {
    margin-top: 20%
}
.pic {
    border-radius: 50%
}
