h1 {
    color: #1B332C;
}
h2{
    color: rgba(114, 69, 15, 0.99);
}
h4{
    color: rgba(114, 69, 15, 0.87);
}
h5{
    color: rgba(114, 69, 15, 0.99);
}
h6{
    color: #d95d1a;
}
h7{
    font-style: oblique; color: #89431d;
}
body {
    background-image: url(https://i.pinimg.com/originals/25/8b/b5/258bb5f05b1631fd3a321c4f62effc4f.jpg)
}
li{
    list-style: none;
}
.surname {
    color: #385446   
}


/****Education****/
#educ {
    margin-top: 20%
}
.pic {
    border-radius: 50%
}